/*Mariia Zhivonitko 
TIK22SP, sg 6
Web-projekti
*/

$mainColor: #369f39;
$mediumColor :#46c24a;
$lightColor: #6bd06e;
$conrastColor: #a05c9d;
$neutralColor: white;
$iconSize: 1.5em;
$iconSizeHeader: 2em;
$logosize: 5em;

@mixin theme($fontcolor:$neutralColor, $fontfamily:'Patrick Hand') {
    color: $fontcolor;
    font-family: $fontfamily, cursive;
    text-shadow: 0px 0px 3px #000;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    @include theme;
    #container { 
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: auto auto auto auto;
        background-color: $neutralColor;
        header { 
            grid-column: 1/4;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            gap: 5px;
            position: sticky;
            min-height: 100px;
            background-color: $mediumColor;
            padding: 0px 2em;
            h1{
                width: 90%;
                text-align: left;
                font-size: 3em;
            }
            a{
                color: $neutralColor;
                :hover{
                    color: $conrastColor;
                }
                i{
                    font-size: $iconSizeHeader;
                    margin: 10px;
                }
            }
            
            img {
                height: $logosize;
            }

        }
        nav {
            grid-column: 1/2;
            grid-row: 2/4;
            list-style: none;
            background-color: $lightColor;
            ul {
                list-style-type: none;
                padding-left: 0px;
                li {
                    display: inline-block;
                    margin: 8px auto 8px auto;
                    width: 100%;
                    :hover { 
                        background-color: $conrastColor;
                        opacity: 95%;
                        text-shadow: 0px 0px 2px rgb(255, 245, 46);
                        height: 4.5em;
                        
                        box-shadow: 2px 2px 10px $neutralColor,
                                    -2px -2px 10px $neutralColor,
                                    -2px 2px 10px $neutralColor,
                                    2px -2px 10px $neutralColor;
                    }
                    >div {
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        background-color: $mainColor;
                        opacity: 100%;
                        width: 90%; 
                        height: 4.5em; 
                        border-radius: 3px;
                        a{
                            text-decoration: none;
                            color: $neutralColor;
                        }
                        i{
                            font-family: 'FontAwesome';
                            font-size: $iconSize;
                        }    
                    }
                }
            }
        }
        footer {
            grid-column: 1/4;
            grid-row: 4/5;
            background-color: $mediumColor;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            padding: 1em;   
        }
        #form {
            grid-column: 2/4;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr 1fr 1fr auto;
            gap: 20px;
            padding: 10px;
            h2 {
                grid-column: 1/3;
                grid-row: 1/2;
                background-color: $mainColor;
                text-align: center;                
            }
            div{
                border: 3px solid $mediumColor;
                .answer-box {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    border: none;
                    div{
                        border: none;
                        margin: 5px;
                        label {
                            color: #369f39;
                            padding: 5px;
                            text-shadow: none;
                            font-weight: bold;
                        }
                        input {
                            width:20%;
                        }
                    }    
                }
                h4 {
                    background-color: $mainColor;
                    padding: 5px;
                }
                button {
                    background-color: $mainColor;
                    color: $neutralColor;
                    margin: 15px;
                    border: none;
                    border-radius: 5px;
                }
            }
            img {
                max-width: 100%;
            }
            #question5 {
                position: relative;
                img {
                    width: 100%;
                    height: auto;                    
                }
                #socks{
                    border: none;
                    div {
                        position: absolute;
                        border: none;
                        border-radius: 50%;
                    }
                        :hover {
                            background-color: rgba(0, 0, 0, .25);
                        } 
                }
            }
            #result {
                display: flex;
                flex-direction: column;
                div {
                    border: none;
                    align-items: center;
                    img {
                        max-width: 100%;
                    }
                    #resultButton {
                        font-size: 1.5em;
                    }
                    .modal-header{
                        background-color: $neutralColor;
                        color: $mainColor;
                        display: flex;
                        
                        h1{
                            
                            text-shadow: none;
                            font-weight: bold;
                        }
                        #resultBonus{
                            font-size: 1em;

                        }
                        
                    }
                }
            }    
        }    
    }  
}










@media screen and (max-width: 889px) {
    #container { 
        display: grid;
        grid-template-columns: 1fr 3fr ;
        grid-template-rows: auto auto auto auto;
    }
    header { 
        grid-column: 1/3;
        grid-row: 1/2;
    }
    i{
        display: none;
    }
    nav {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    footer { /* Footerin muotoilu alkaa */
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #form {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    h2 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .fa-house-chimney, .fa-circle-info{ /* Home ja Info ikonit */
        font-size: 40px;
        margin-right: 25px;
    }
    nav li>div {
        font-size: 1.25em;
    }

    footer {
        font-size: 1.5em;
    }
    
}
@media only screen and (max-width: 768px) {
    /*kun alle 768px leveys piilotetaan valikko ja siitä tulee navbar*/
    nav li>div {
        font-size: 1em;
    }

    .näkymätön {
        display: none;
    }

    .fullArticle {
        grid-column: 1/3;
    }

    #mainHeader {
        font-size: 2.5em;
    } 

    .fa-bars {
        display: inline;
    }

}
/*#question5 {
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #a05c9d;
    display: flex;
    justify-content: space-around;
}*/
