/*Mariia Zhivonitko 
TIK22SP, sg 6
Web-projekti
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Patrick Hand", cursive;
  text-shadow: 0px 0px 3px #000;
}
body #container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto auto auto auto;
  background-color: white;
}
body #container header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  gap: 5px;
  position: sticky;
  min-height: 100px;
  background-color: #46c24a;
  padding: 0px 2em;
}
body #container header h1 {
  width: 90%;
  text-align: left;
  font-size: 3em;
}
body #container header a {
  color: white;
}
body #container header a :hover {
  color: #a05c9d;
}
body #container header a > i {
  font-size: 2em;
  margin: 10px;
}
body #container header img {
  height: 5em;
}
body #container nav {
  grid-column: 1/2;
  grid-row: 2/4;
  list-style: none;
  background-color: #6bd06e;
}
body #container nav ul {
  list-style-type: none;
  padding-left: 0px;
}
body #container nav ul li {
  display: inline-block;
  margin: 8px auto 8px auto;
  width: 100%;
}
body #container nav ul li :hover {
  background-color: #a05c9d;
  opacity: 95%;
  text-shadow: 0px 0px 2px rgb(255, 245, 46);
  height: 4.5em;
  box-shadow: 2px 2px 10px white, -2px -2px 10px white, -2px 2px 10px white, 2px -2px 10px white;
}
body #container nav ul li > div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #369f39;
  opacity: 100%;
  width: 90%;
  height: 4.5em;
  border-radius: 3px;
}
body #container nav ul li > div i ~ a {
  text-decoration: none;
  color: white;
}
body #container nav ul li > div i {
  font-family: "FontAwesome";
  font-size: 1.5em;
}
body #container footer {
  grid-column: 1/4;
  grid-row: 4/5;
  background-color: #46c24a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}
body #container #form {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  gap: 20px;
  padding: 10px;
}
body #container #form h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #369f39;
  text-align: center;
}
body #container #form div {
  border: 3px solid #46c24a;
}
body #container #form div .answer-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}
body #container #form div .answer-box div {
  border: none;
  margin: 5px;
}
body #container #form div .answer-box div label {
  color: #369f39;
  padding: 5px;
  text-shadow: none;
  font-weight: bold;
}
body #container #form div .answer-box div input {
  width: 20%;
}
body #container #form div > h4 {
  background-color: #369f39;
  padding: 5px;
}
body #container #form div button {
  background-color: #369f39;
  color: white;
  margin: 15px;
  border: none;
  border-radius: 5px;
}
body #container #form img {
  max-width: 100%;
}
body #container #form #question5 {
  position: relative;
}
body #container #form #question5 img {
  width: 100%;
  height: auto;
}
body #container #form #question5 #socks {
  border: none;
}
body #container #form #question5 #socks div {
  position: absolute;
  border: none;
  border-radius: 50%;
}
body #container #form #question5 #socks :hover {
  background-color: rgba(0, 0, 0, 0.25);
}
body #container #form #result {
  display: flex;
  flex-direction: column;
}
body #container #form #result div {
  border: none;
  align-items: center;
}
body #container #form #result div img {
  max-width: 100%;
}
body #container #form #result div #resultButton {
  font-size: 1.5em;
}
body #container #form #result div .modal-header {
  background-color: white;
  color: #369f39;
  display: flex;
}
body #container #form #result div .modal-header h1 {
  text-shadow: none;
  font-weight: bold;
}
body #container #form #result div .modal-header #resultBonus {
  font-size: 1em;
}

@media screen and (max-width: 889px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
  }
  #container header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #container nav {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  #container #form {
    grid-column: 2/3;
    grid-row: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  #container #form h2 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #container #form #question1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #container footer {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .fa-house-chimney, .fa-circle-info { /* Home ja Info ikonit */
    font-size: 10px;
    margin-right: 25px;
  }
  nav li > div {
    font-size: 1.25em;
  }
  footer {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
