body {
    margin: 0px;
    padding: 0px;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 0px 0px 3px #000;
    color: #fff;
    
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#container { 
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto 12vh;
    background-color: #fff;
}

header { /* Headerin muotoilu alkaa */
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    gap: 10px;
    position: sticky;
    min-height: 100px; /* Väliaikainen arvo */
}

header>h1 {
    width: 90%;             /*Otsikon muotoilua täytyy varmaan jossain vaiheessa muuttaa*/
    text-align: left;
    font-size: 4em;
}



header, footer { /* Tasainen padding headerin ja footerin välille */
    background-color: #46c24a;
    padding: 0px 2em;
}

nav { /* Navigoinnin muotoilu alkaa */
    grid-column: 1/2;
    grid-row: 2/4;
    list-style: none;
    background-color: #6bd06e;
}



nav h1 {
    text-align: center;
}

nav ul>li {
    display: inline-block;
    margin: 8px auto 8px auto;
    width: 100%;
}

nav li>div { /* Visa valinta muotoilu*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #369f39;
    opacity: 100%;
    width: 90%; 
    height: 4.5em; 
    border-radius: 3px; 
}



nav li>div:hover {  /*visa valinta napit vaihtavat väriä kun käyttäjä vie hiiren niiden yli*/
    background-color: #a05c9d;
    opacity: 95%;
    text-shadow: 0px 0px 2px rgb(255, 245, 46);
    height: 4.5em;
    box-shadow: 2px 2px 10px #fff,
                -2px -2px 10px #fff,
                -2px 2px 10px #fff,
                2px -2px 10px #fff;
}

footer { /* Footerin muotoilu alkaa */
    grid-column: 1/4;
    grid-row: 4/5;

    display: flex;
    align-items: center;
    gap: 10px;

    min-height: 50px; /* Väliaikainen arvo */
}


.fa-solid, .fa-regular, .fa-light, .fa-thin{ /* FontAwesome ikonit */
    font-family: 'FontAwesome';
    font-size: 35px;
}

.fa-house-chimney, .fa-circle-info{ /* Home ja Info ikonit */
    font-size: 50px;
    margin-right: 55px;
}

header img {
    height: 100px;
}

form {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    gap: 20px;
    padding: 10px;
}

h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #369f39;
    text-align: center;
    
}

form div {
    border: 3px solid #369f39;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.answer-box {
    display: contents;
    flex-direction: row;
}

form div #question5 {
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #a05c9d;
    display: flex;
    justify-content: space-around;
}

form h4 {
    background-color: #369f39;
    padding: 5px;
    
}

label {
    background-color: #369f39;
    padding: 5px;

}

input {
    width:20%;
}
button {
    background-color: #369f39;
}
form img {
    max-width: 100%;


}
#answers {
    display: none;
}
#result {
    display: none;
}